{{#if removecliente}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Cliente removido com sucesso!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}


  <div class="row">
    <div class="col-6"> <h1>Clientes</h1> </div>
    <div class="col-6 d-flex justify-content-end">
      <a href="/addcliente" type="button" class="btn btn-success align-self-center" >+ Adicionar Cliente </a>
    </div>
  </div>
<br>
<div class="row">
  <div class="col-6"> </div>
  <div class="col-6 d-flex justify-content-end">
        <a href="/total" type="button" class="btn btn-success align-self-center" style="background-color:#d63384"> Ver Total de Vendas </a>
  </div>
</div>
<br>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Nome </th>
      <th scope="col"> Telefone </th>
      <th scope="col"> Data da Compra </th>
      <th scope="col"> Total Compra </th>
      <th scope="col"> Cartão/Dinheiro </th>
      <th scope="col" class="text-center"> Ação </th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td> {{this.nome}} </td>
      <td> {{this.telefone}} </td>
      <td> {{this.data_compra}} </td>
      <td> {{this.total_compra}} </td>
      <td> {{this.tipo_pagamento}} </td>
      
      <td class="text-center">  
        <a href="/viewcliente/{{this.id}}" type="button" class="btn btn-warning btn-small" style="margin: 3px;"><i class="bi bi-eye"></i> Ver Cliente </a>
        <a href="/editcliente/{{this.id}}" type="button" class="btn btn-primary btn-small" style="margin: 3px;"><i class="bi bi-pencil"></i> Editar </a>
        <a href="/{{this.id}}" type="button" class="btn btn-danger btn-small" style="margin: 3px;"><i class="bi bi-person-x"></i> Deletar </a>
      </td>
      {{/each}}
  </tbody>
</table>




